@import "avariables";
.header {

}
.menu {
  background:$background-dark;
  display: flex;
  flex-direction: row;
  .menu-item {
    color: $text-primary-light;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
    flex: 1;
    justify-content: center;
    display: flex;
    &:hover {
      background: $new;
      transition: all 0.25s;
    }
    &.active {
      background: $new;
    }
  }
}